
@{
    ViewBag.Title = "Добавить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="adv">
    <div class="row">
        <h2 style="margin-left:20px;">Новое объявление</h2>
        <div class="col-md-5">
            <form role="form">
                <div class="form-group">
                    <label>Название: </label><textarea id="adv_name" rows="1" cols="45" name="text" class="form-control" placeholder="Название"></textarea><br>
                    <label>Информация: </label><textarea id="adv_description" rows="3" cols="45" name="text" class="form-control" placeholder="Информация"></textarea>

                    @*<input type="text" class="form-control" placeholder="Название"><br>
                        <input type="text" class="form-control" placeholder="Информация" >*@
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="adv1" id="items_container">
            <div class="col-md-12 adv2 item">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/Images/blagotvor.jpg" class="img-circle" style="width:150px;">
                        <br><br>
                        <p>
                            <input type="file" name="pic" class="form-control" style="width: 145px;">
                        </p>
                    </div>
                    <div class="col-md-8">
                        <form role="form">
                            <div class="form-group">
                                <label>Название: </label>
                                <input type="text" name="name" class="form-control"/>
                                <br>
                                <label>Информация: </label>
                                <textarea rows="3" cols="45" name="descrtiption" class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


