@model Charity.Models.ViewModels.AdvViewModel

@{
    ViewBag.Title = "Adv";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div class="row">
    <div class="col-md-3">
        <div class="adv">
            <img src="~/Content/Images/blagotvor.jpg" style="width:250px; margin-left:10px;" />
            <br>
            <div class="user-prof"><a href="">Ссылка на пользователя</a></div>
            <br>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-5">
                <br>
                <div class="adv-name">@Model.Name</div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="adv-date">@Model.Date</div>
            </div>
        </div>

        <div class="adv-info col-md-9">
            @Model.Description;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 adv1">
        @foreach (var )
        {

        }
        <div class="col-md-12 adv2">
            <div class="row">
                <div class="col-md-3">
                    <div class="adv">
                        <img src="~/Content/Images/blagotvor.jpg" class="img-circle" style="width:150px;">
                        <br><br>
                        <button type="button" class="btn btn-primary" style="width:150px;">Откликнуться</button>
                        <br>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <br>
                            <div class="adv-name">Название</div>
                        </div>
                        <br>
                    </div>

                    <div class="adv-info">
                        htstra
                    </div>
                </div>
                </div>
            </div>
    </div>
</div>



