@{
    ViewBag.Title = "Home Page";
}
<br>
<div class="row">
    <br><br>
    <div class="col-md-8">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск">
            </div>
        </form>
        
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-default " disabled="disabled">
            <div class="glyphicon glyphicon-search"></div>
        </button>
        </div>
   </div>
    <div class="col-md-8  border-index">
        <div class="adv">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam ante, facilisis vitae sapien a, pulvinar egestas leo. Mauris enim elit, laoreet at viverra nec, venenatis sed orci. Morbi in accumsan odio, non sodales enim. Nam dapibus sapien sed condimentum ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean ut interdum eros. Proin ac efficitur ante. Ut sodales lacinia velit, id varius augue eleifend sit amet. Phasellus sit amet dolor at tellus egestas viverra.

            Mauris rutrum placerat dignissim. Phasellus id lacus metus. Mauris eleifend neque orci, vitae faucibus tortor aliquam eu. Curabitur porttitor est sit amet odio aliquet, id mattis turpis suscipit. Vestibulum varius libero vel augue volutpat, eget malesuada arcu semper. In varius faucibus hendrerit. Suspendisse et molestie ante. Donec ullamcorper elit non aliquet ultrices. Sed in enim vitae ligula posuere luctus in sed lacus. Sed magna elit, fringilla id tincidunt ut, sagittis quis felis. Quisque rhoncus eros et rutrum blandit. Suspendisse ac nulla malesuada, sagittis nulla ut, feugiat libero.

            Curabitur facilisis ac ante et bibendum. Suspendisse ultrices sem dui, eu ultrices felis tincidunt ac. Proin fermentum ipsum varius purus consequat, nec cursus nulla fermentum. Maecenas nec gravida sapien, ullamcorper dictum augue. Aliquam est urna, lacinia non purus sed, dictum imperdiet mi. Maecenas a eros in sem congue viverra. Ut ultrices est vitae efficitur interdum.

            Mauris a erat a lacus interdum congue. Nulla facilisi. Aliquam non felis fermentum, viverra lectus vitae, laoreet nunc. Curabitur accumsan consectetur sem vel pharetra. Fusce purus elit, cursus eu condimentum et, laoreet eleifend turpis. Curabitur rhoncus interdum neque, ut tempor odio molestie in. Etiam malesuada ornare massa, et faucibus nunc. Phasellus facilisis lorem vel augue malesuada, vel rutrum eros lacinia. Pellentesque commodo blandit tempor. Suspendisse ac eleifend eros. Quisque dapibus convallis iaculis. Nulla eget ultricies erat, a hendrerit risus. Duis pellentesque nulla at ullamcorper rutrum.

            Integer suscipit risus id justo pulvinar semper. Morbi convallis odio neque, sit amet semper nibh facilisis eu. Proin dictum lacus at convallis egestas. Sed interdum ex a convallis bibendum. Vestibulum fermentum ante enim, quis condimentum est cursus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sed tristique lorem, eget ultricies eros. Donec id aliquet mauris, in rhoncus nulla. Nunc mollis egestas mauris non vehicula.
        </div>
    </div>
    <div class="col-md-3  border-index">
        <div class="adv">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam ante, facilisis vitae sapien a, pulvinar egestas leo. Mauris enim elit, laoreet at viverra nec, venenatis sed orci. Morbi in accumsan odio, non sodales enim. Nam dapibus sapien sed condimentum ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean ut interdum eros. Proin ac efficitur ante. Ut sodales lacinia velit, id varius augue eleifend sit amet. Phasellus sit amet dolor at tellus egestas viverra.

            Mauris rutrum placerat dignissim. Phasellus id lacus metus. Mauris eleifend neque orci, vitae faucibus tortor aliquam eu. Curabitur porttitor est sit amet odio aliquet, id mattis turpis suscipit. Vestibulum varius libero vel augue volutpat, eget malesuada arcu semper. In varius faucibus hendrerit. Suspendisse et molestie ante. Donec ullamcorper elit non aliquet ultrices. Sed in enim vitae ligula posuere luctus in sed lacus. Sed magna elit, fringilla id tincidunt ut, sagittis quis felis. Quisque rhoncus eros et rutrum blandit. Suspendisse ac nulla malesuada, sagittis nulla ut, feugiat libero.

            Curabitur facilisis ac ante et bibendum. Suspendisse ultrices sem dui, eu ultrices felis tincidunt ac. Proin fermentum ipsum varius purus consequat, nec cursus nulla fermentum. Maecenas nec gravida sapien, ullamcorper dictum augue. Aliquam est urna, lacinia non purus sed, dictum imperdiet mi. Maecenas a eros in sem congue viverra. Ut ultrices est vitae efficitur interdum.

            Mauris a erat a lacus interdum congue. Nulla facilisi. Aliquam non felis fermentum, viverra lectus vitae, laoreet nunc. Curabitur accumsan consectetur sem vel pharetra. Fusce purus elit, cursus eu condimentum et, laoreet eleifend turpis. Curabitur rhoncus interdum neque, ut tempor odio molestie in. Etiam malesuada ornare massa, et faucibus nunc. Phasellus facilisis lorem vel augue malesuada, vel rutrum eros lacinia. Pellentesque commodo blandit tempor. Suspendisse ac eleifend eros. Quisque dapibus convallis iaculis. Nulla eget ultricies erat, a hendrerit risus. Duis pellentesque nulla at ullamcorper rutrum.

            Integer suscipit risus id justo pulvinar semper. Morbi convallis odio neque, sit amet semper nibh facilisis eu. Proin dictum lacus at convallis egestas. Sed interdum ex a convallis bibendum. Vestibulum fermentum ante enim, quis condimentum est cursus a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sed tristique lorem, eget ultricies eros. Donec id aliquet mauris, in rhoncus nulla. Nunc mollis egestas mauris non vehicula.
        </div>
    </div>
</div>