@model List<Charity.Models.ViewModels.AdvViewModel>
@{
    ViewBag.Title = "Home Page";
}
<br>
<div class="col-xs-12">
    <div class="row">
        <br><br>
        <div class="col-xs-8">
            <form role="form">
                <div class="form-group">
                    <input type="text" id="search_input" class="form-control" placeholder="Поиск" >
                </div>
            </form>

        </div>
        <div class="col-xs-1">
            <button type="button" class="btn btn-default" onclick="search()">
                <div class="glyphicon glyphicon-search"></div>
            </button>
        </div>
    </div>
</div>


<div class="col-xs-8">
    <div class="row">
        @foreach (var adv in Model)
        {
            <div class="col-xs-12  border-index adv-block-item">
                <div class="col-md-3">
                    <img src="~/Content/Images/blagotvor.jpg" class="img-view-adv">
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="/Home/Adv?id=@(adv.Id)"><h3>@adv.Name</h3></a>
                    </div>

                    <br>
                    <div class="description-in-index">
                        @adv.Description
                    </div>
                </div>
                <div class="col-md-9 text-right" style="margin-top: -15px;">
                        <a><div class="glyphicon glyphicon-star" style=""></div></a>
                        <a><div class="glyphicon glyphicon-heart" style=""></div></a>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-xs-1"></div>

<div class="col-xs-2  border-index">
    <div class="categories">
        <h2>Категории</h2>
        <a href=""><h4>Одежда</h4></a>
        <a href=""><h4>Обувь</h4></a>
        <a href=""><h4>Техника</h4></a>
        <a href=""><h4>Детские товары</h4></a>
    </div>
</div>