@model List<Charity.Models.ViewModels.AdvViewModel>
@{
    ViewBag.Title = "Home Page";
}
<br>
<div class="row">
    <br><br>
    <div class="col-md-8">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск">
            </div>
        </form>
        
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-default " disabled="disabled">
            <div class="glyphicon glyphicon-search"></div>
        </button>
        </div>
   </div>
    <div class="col-md-8  border-index">
        <div>
                <div class="col-md-3">
                        <img src="~/Content/Images/blagotvor.jpg" class="img-view-adv">
                </div>
                <div class="col-md-9">

                        <div><a href=""><h3>Тапочки</h3></a>
                    <a><div class="glyphicon glyphicon-star" style="float:right;margin: 5px;"></div></a>
                    <a><div class="glyphicon glyphicon-heart" style="float:right;margin:  5px;"></div></a>
                            
                         </div>

                        <br>
                    <div class="description-in-index">kgmhdhddd</div>
                </div>
        </div>
     </div>


    <div class="col-md-3  border-index">
        <div class="adv">
            <h2>Категории</h2>
        <a href=""><h4>Одежда</h4></a>   
        <a href=""><h4>Обувь</h4></a>
        <a href=""><h4>Техника</h4></a>
        <a href=""><h4>Детские товары</h4></a>
        </div>
    </div>