
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>

<div class="align-right">
    <button type="button" class="btn btn-primary">Действующие объявления</button>
    <button type="button" class="btn btn-primary">Завершённые</button>
    <button type="button" class="btn btn-primary">Сообщения</button>
</div>
<br><br>
<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/Profile.jpg" style="width:250px;" />
        <br>
    </div>
    <div class="col-md-9">
        
        <p><h3 style="color:darkgray">
    Данные пользователя
    <button type="button" class="btn btn-default ">
        <div class="glyphicon glyphicon-pencil"></div>
    </button>
</h3>
        </p>
        
        <p><strong>Имя: </strong>Саня</p>
        <p><strong>Фамилия: </strong>Санин</p>
        <p><strong>Дата рождения: </strong>01.10.1997</p>
        <p><strong>E-mail: </strong>sanya@ml.ru</p>

    </div>
</div>
@*<div class="col-md-4">*@