body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color: #FFEB3B;
    border-color: #c7c7c7;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #717171;
    }

.navbar-nav.pull-right {
    font-size: 20px;
    margin-top: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content {
    background-color: #f3f2f2;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
/*textarea {
    max-width: 280px;
}*/
.row {
    color: black;
    border: 4px;
}

#button {
    float: right;
}

#m {
    float: right;
}

.layer1 {
    width: 50%;
    float: right;
    border: 20px;
}

.align-right {
    float: right;
}

.adv {
    padding: 10px;
    margin-top: 20px;
}
.charity {
    font-family: 'Monotype Corsiva';
    font-size: 50px;
    color: #828282;
    cursor: default;
}
.adv-name {
    font-size: 14px;
    border: 2px solid rgb(138, 210, 215);
    padding: 10px;
    margin: 10px;
}
.adv-date {
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}
.adv-info {
    font-size: 14px;
    border: 2px solid rgb(138, 210, 215);
    padding: 10px;
    margin: 10px;
    max-height: 140px;
    overflow-y: scroll;
}
.user-prof {
    font-size: 18px;
    margin-top: 20px;

}
.adv1 {
    border: 2px dashed rgba(0, 0, 0, 0.1);
    padding:30px;
}
.adv2 {
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
}
.border-index {
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 5px;
    border-radius:7px;
}

input[type=file] {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.img-view-adv {
    width:150px;
    /*height:150px;*/
    border-radius:70px;
    margin-bottom:15px;

}

.description-in-index{
    float:left:
}